.textarea{
	text-align: center;
}

.textarea textarea{
	width: 80%;
	background-color: rgb(200, 247, 197);
	margin-left: 0;
	padding-left: 0;
}

select{
	display: block;
	width: 50%;
	height: 100px;
}

section.floats{
	border: 10px solid black;
}



section.floats{
	margin-top: 200px;
	width: 90%;
	margin-left: 5%;
}


.floats div {
	float: left;
	margin-top: 10px;
	margin-right: 5%;
	width: 200px;
	height: 200px;
	background-color: rgb(4, 147, 114);
}

.floats div p{
	text-align: center;
	background-color: red;
	width: 80%;
	margin-left: 10%;
	padding-top: 10px;
	border: 2px solid black;
}



/*Positioning section*/

.position{
/*	margin-top: 100px;
*/}

.position div.navbar{
	width: 100%;
	background-color: rgb(103, 65, 114);
	height: 50px;
	position: fixed;
	color: white;
}

.position div.navbar ul{
	list-style-type: none;
	width: 90%;
	margin-left: 5%;
	padding-left: 0;
	vertical-align: middle;
	margin-top: 10px;
}

.position div.navbar ul li{
	width: 16.666%;
	background-color: red;
	padding: 5px 0;
	margin: 0;
	float: left;
	text-align: center;
	border: 3px solid black;
	border-right: none;
}

.position div.navbar ul li:last-child{
	border-right: 3px solid black;
}

.position div.navbar ul li:hover{
	background-color: yellow;
	color: black;
}

div.blocks{
	padding-top: 200px;
}

.position div.block{
	width: 20%;
	height: 100px;
	background-color: rgb(38, 166, 91);
	color: rgb(239, 72, 54);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


@media (max-width: 800px){
	.position div.block{
		width: 45%;
	}
}

section.stack{
	clear: both;
	position: relative;
	top: 100px;
	background-color: rgb(34, 167, 240);
	height: auto;
}

.stack div{
	width: 50%;
	padding: 15px;
}

.stack>div.div1{
	position: relative;
	width: 50%;
	margin-left: 25%;
	background-color: yellow;
	height: auto;
	clear: both;
	top: 20px;
}

.div2{
	background-color: red;
	z-index: 1;
	padding-top: 0;
	position: relative;
	margin-top: 40px;
	padding: 5px;
}

.div3{
	background-color: green;
	position: relative;
	margin, padding: 0;
	z-index: 10;
	display: inline-block;
	margin-top: -30px;
}

.div4{
	background-color: orange;
	position: relative;
	margin, padding: 0;
	top: 0px;
	display: inline-block;
}


















