


section{
	margin-top: -16px;
	padding-top: 0;
}

p{padding-top: 10px;}


.div1{
	/*display: inline-block;*/
	text-align: center;
	margin: 0px 0 0 0;
	width: 100%;
}

.div2{
	display: block;
	width: 100%;
	height: 900px;
	background-image: url(../img/patagonia.jpg);
	background-repeat: repeat;
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
}

.image1{
		background-image: url(../img/patagonia.jpg);
	}

.image2{
	background-image: url(../img/patagonia2.jpg);
}

.image3{
	background-image: url(../img/patagonia3.jpg);
}

.sec2{
	background-color: rgba(20, 100, 200, .4);
}

.sec2 ul{
	list-style: none;
}

.sec2 ul li{
	background-image: url(../img/cubesmall2.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 10px 0;
	background-size: 20px 20px;
	margin-top: 15px;

}


/*------------THE INDEX6 PART IS BELOW--------------*/

.navbar ul {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}

.navbar ul li{
	text-decoration: none;
	float: left;
	background-color: red;
	border: 2px ridge black;
	border-right: none;
	width: 16.66666%;
	text-align: center;
	font-size: 1.25em;
}

.navbar ul li:last-child{
	border-right: 2px ridge black;
}

.navbar ul li:hover{
	background-color: green;
}




.transform {
	text-align: center;
}

.transform div{
	width: 19%;
	background-color: rgb(68,108,179);
	color: white;
	border-radius: 5px;
	border-top-right-radius: 20px;
	margin-top: 100px;
	display: inline-block;
}

.transform div p{
	padding: 20px;
}

.transform div:hover{
	transform: rotate(10deg);
	transform-origin: right bottom;
}


.transform div.scale:hover{
	transform: scale(2);
}

.transform .skew1:hover{
	transform: skew(20deg, 0deg);
}

.transform .skew2:hover{
	transform: skew(-20deg, 10deg);
}

.transform .skew3:hover{
	transform: skew(25deg, 10deg);
}


/*--------This is for the transitions part----------*/

section.transition{
	margin-top: 100px;
}

.transition .button{
	width: 20%;
	border-radius: 10px;
	background-color: blue;
	color: black;
	transition-property: background-color, color;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

.transition .button p{
	padding: 20px;
}

.transition .button:hover{
	background-color: red;
	color: white;
}









/*This is for the animation part*/

section.animation{
	height: 500px;
	margin-top: 100px;
}




.animation div{
	width: 30%;
	background-color: yellow;
	border-radius: 5px;
}

.animation div p{
	padding: 50px;
	text-align: center;
}







@keyframes slideInDown{
	0%{
		color: red;
	}
	100%{
		color: blue;
	}
}






div.slideInDown {
  animation-name: slideInDown;
  animation-duration: 2s;
  -webkit-animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  -moz-animation-name: slideInDown;
  -moz-animation-duration: 2s;
}




















