.div1{
	/*display: inline-block;*/
	text-align: center;
	margin: 0px 0 0 0;
	width: 100%;
	height: auto;
	background-attachment: fixed;
}

.div2{
	display: block;
	width: 100%;
	height: 700px;
	background-image: url(../img/patagonia.jpg);
	background-repeat: repeat;
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
}

.image1{
		background-image: url(../img/patagonia.jpg);
	}

.image2{
	background-image: url(../img/patagonia2.jpg);
}

.image3{
	background-image: url(../img/patagonia3.jpg);
}

.sec2{
	background-color: rgba(20, 100, 200, .4);
}

.sec2 ul{
	list-style: none;
}

.sec2 ul li{
	background-image: url(../img/cubesmall2.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 10px 0;
	background-size: 20px 20px;
	margin-top: 10px;

}