p{
	color: steelblue;
	font-size: 1.25em;
}

li.cool{
	color: blue;
}

li:last-child:not(:not(.uhoh)){
	color: orange;
}

p.cool{
	color: blue;
	background: gray;
	-webkit-transform: rotateZ(10deg);
	transition: 2s ease;
}

.blahblah,
.blahblah2{
	width: 40%;
	margin-left: 30%;
	margin-top: 100px;
}

.coolio{
	background: lightgreen;
	transition: 3s cubic-bezier(.6,.08,.37,.94);
	-webkit-box-shadow:100px 10px 5px red;
	width: 20%;
	margin-left: 40%;
}