*{
	font-size: 30px;
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	background: lightblue;
}

.full-page{
	height: 100%;
	vertical-align: middle;
	margin-top: auto;
	border-bottom: 5px solid darkblue;
	overflow: hidden;
}


.container{
	background: lightyellow;
}

p{
	// margin-top: -100px;
	position: relative;
	top: 50%;
	&.smaller{
		font-size: 15px;
	}
}


.box, .box2{
	height: 200px;
	width: 200px;
	margin: 200px auto;
	background: rgb(100, 40, 150);
	border-right: 5px solid red;
	p{
		position: static;
		color: white;
		padding-top: 50px;
		font-size: 20px;
		text-align: center;
	}
}

.triggerLine{
	width: 100%;
	height: 20px;
	background: black;
}

.filler{
	width: 20%;
}