html, body{
	height: 100%;
	background: lightyellow;
	text-align: center;
}


#trigger{
	position: fixed;
	top: 50%;
	left: 95%;
	width: 50px;
	height: 2px;
	background: darkblue;
}

.filler{
	position: absolute;
	width: 10%;
	font-size: 30px;
	margin: auto;
	background: gold;
	overflow: hidden;
}

.box, .box2{
	height: 100px;
	width: 100px;
	background: tomato;
	margin: auto;
	margin-bottom: 5px;
}
.box2{
	margin-top: 100px;
}

.triggerLine{
	width: 100%;
	background: black;
	height: 5px;
	margin-top: 100px;
}