.index15{
	div.headerContainer{
		height: 100px;
		text-align: center;
	}
	h1{
		display: inline-block;
		margin: auto;
		background: purple;
		margin: 0;
		padding: 0;
		vertical-align: bottom;
	}
	p.junkText{
		width: 50%;
		margin-left: 25%;
		font-size: 60px;
	}

	div.color{
		width: 1000px;
		height: 100px;
		background: lightblue;
		margin: 100px auto;
	}

	div.color1{
		-skrollr-animation-name: animation1;
	}

}



$about_section_begin: 0;
$about_section_duration: 200;
$about_section_end: $about_section_begin + $about_section_duration;

@-skrollr-keyframes animation1 {
    skrollr-#{$about_section_begin} {
    		background: rgb(200, 200, 100);
    }

    skrollr-#{$about_section_end} {
    		background: rgb(100, 0, 20);
    }
}
