p{
	color: steelblue;
	font-size: 1.25em;
}

li.cool{
	color: blue;
}

li:last-child:not(:not(.uhoh)){
	color: orange;
}

p.cool{
	color: blue;
	background: gray;
	-webkit-transform: rotateZ(10deg);
	transition: 2s ease;
}

.blahblah,
.blahblah2{
	width: 40%;
	margin-left: 30%;
	margin-top: 100px;
}

.coolio{
	background: lightgreen;
	transition: 3s cubic-bezier(.6,.08,.37,.94);
	-webkit-box-shadow:100px 10px 5px red;
	width: 20%;
	margin-left: 40%;
}

ul.removeul{
	text-align: center;
	list-style-type: none;
	margin-top: 100px;
	font-size: 1.9em;
	font-family: Impact;
	color: pink;
}

ul.removeul li{
	background: darkblue;
	margin: 5px 0;
}

ul.transitionul{
	margin-top: 200px;
	list-style-type: none;
	text-align: center;
	-webkit-perspective: 800px;
}



.coolTransitionTime{
	color: red;
	background: purple;
	transform: translate3d(50px, -100px, 400px);
	transform: translateX(45deg);
	transition: 3s ease-in-out;
}
