section.chap2{
	color: green;
}

p:first-letter{
	color: red;
}

section.chap2 p{
	background-color: lightgreen;
	width: 50%;
	margin: auto;
	font-size: 2.5em;
}

section.sec2 p{
	width: 50%;
	background: lightblue;
	margin: auto;
	font-size: 2.5em;
}



section.sec3 div{
	color: orange;
}

.center{
	margin: auto;
	text-align: center;
}