



// My code goes here


header{
	width: 100%;
	background: #ddd;
	height: 80px;
	position: fixed;
	border-bottom: 1px solid #666;
	nav{
		background: #bbb;
		height: 50px;
		margin: 15px;
		font-size: 0;
	}
	li{
		padding-top: 10px;
		width: 16.666%;
		height: 50px;
		display: inline-block;
		background: blue;
		font-size: 20px;
		color: white;
		text-align: center;
		&:not(:last-of-type){
			border-right: 2px solid red;
		}
		&:hover{
			color: gold;
		}
	}

	.dropDown{
		width: 16.6666%;
		height: 80px;
		position: relative;
		background: yellow;
	}

}


p.filler{
	width: 20%;
	font-size: 30px;
	margin-left: 40%;
	padding-top: 120px;
}