html, body{
	height: 100%;
	// background: url('../img/restaurant_icons.png');
	text-align: center;
}


#trigger{
	position: fixed;
	top: 50%;
	left: 95%;
	width: 50px;
	height: 2px;
	background: red;
}

.filler{
	position: absolute;
	width: 10%;
	font-size: 30px;
	margin: auto;
	background: gold;
	overflow: hidden;
}

.box, .box2{
	height: 100px;
	width: 100px;
	background: tomato;
	margin: auto;
	margin-bottom: 5px;
}
.box2{
	margin-top: 100px;
}

.triggerLine{
	width: 100%;
	background: black;
	height: 2px;
}

.pushedDown{
	margin-top: 600px;
}

p.bodyChange{
	margin: 400px 0;
}

.fluid1{
	background: lightblue;
	height: 100%;
}

.hoverBox{
	margin-top: 200px;
}