body{
	background-color: #E4F1FE;
}

div{
	margin: 0;
	padding: 0;
}

p, td{
	font-size: 20px;
}


::selection{
	color:orange;
	background-color: purple;
}


body section div {
	width: 30%;
	margin: 1.66666%;
	display: inline-block;
	background-color: rgba(240, 60, 30, .7);
	font-size: 12px;
	border: 5px solid black;
	border-radius: 10px/20px;
	box-sizing: border-box;  /* this makes total width include border */
}

section{
	padding: 100px 0;
	margin: 200px 0;
	font-size: 0;
}

div :nth-child(1){
	color: #223399;

}

.sec1{
	background: #F1A9A0;
}
.sec2{
	background: #4183D7;
}




p[title]{
	color: red;
}

p[title='blah2']{
	color: rgba(40, 100, 200, .8);
}


p[title$='3']{
	color: yellow;
}

.sec2 p[title*='test']{
	color: orange;
}

.sec2 p[title^='test']{
	color: white;
}

.sec2 p[title$='test']{
	color:black;
}

body>:first-child{
	background: #6C7A89;
}

body>:nth-child(2){
	background: #4183D7;;
}






/*THe table part, (section 3)*/

.sec3 table{
	background: #EEE;
	width: 100%;
}

.sec3 table td{
	width: 16.666%;
	text-align: center;
	padding: 10px 0 0 0 ;
	letter-spacing: px;
}

.sec3 tr:nth-child(odd){
	background: #F27935;
	color: white;
}

.sec3 td:not(:nth-child(odd)){
	color: red;
}


/*Here the specificty points add up to 11, which isn't enough
to override the rule above, which has specificy points of
20 (class and pseudo-class)*/

.sec3 td{
	color: green;
}




/*section 4*/


.sec4 div{
	width: 60%;
	height: auto;
	margin: 0 20%;
	background: #26A65B;
}

.sec4 div p{
	margin: 10px;
	font-size: 2em;
	background-color: white;
}






































