@import '../reset';

body{
	background: #eee;
	font-size: 30px;
	text-align: center;
}

div.form{
	margin: 30px 0;
	text-align: left;
}

div.form-field{
	@extend .form;
	background: lightgreen;
}
div.another-form{
	text-align: left;
	@extend .form-field;
	background: lightblue;
}
input{
	padding: 5px;
	margin: 50px;
	font-size: inherit;
	margin-top: 100px;
	text-align: left;
	&.description{
		width: 500px;
	}
	&:focus{
		outline: none;
	}
}
h1{
	font-size: 40px;
	background: #4183D7;
	color: #F5AB35;
	padding: 10px;
}