@import "bootstrap";

html{
	height: 100%;
	p{
		font-size: 24px;
	}
}

.col{
	background: green;
	@include make-xs-column(10);
	@include make-xs-column-offset(1);
	@include make-sm-column(6);
	@include make-sm-column-offset(0);
	@include make-md-column(4);
	@include make-lg-column(3);
}


